In [196]:
import pandas as pd

In [197]:
source = pd.read_csv('../data/crime2010_2018.csv',skiprows=1,header=None,nrows=5)

In [198]:
src = source[[0,1,2,3,7,8,16,25]]

In [199]:
data = src.rename(columns = {0 : 'num', 1 : 'date_reported',2:'date_occured',3:'time_occured',7:'crime_code',8:'crime_desc',16:'weapon',25:'location'})

In [200]:
data

,num,date_reported,date_occured,time_occured,crime_code,crime_desc,weapon,location
0,1208575,03/14/2013,03/11/2013,1800,626,INTIMATE PARTNER - SIMPLE ASSAULT,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)","(33.9829, -118.3338)"
1,102005556,01/25/2010,01/22/2010,2300,510,VEHICLE - STOLEN,NaN,"(34.0454, -118.3157)"
2,418,03/19/2013,03/18/2013,2030,510,VEHICLE - STOLEN,NaN,"(33.942, -118.2717)"
3,101822289,11/11/2010,11/10/2010,1800,510,VEHICLE - STOLEN,NaN,"(33.9572, -118.2717)"
4,42104479,01/11/2014,01/04/2014,2300,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),NaN,"(34.2009, -118.6369)"

In [201]:
loc = pd.DataFrame(data.location.str.replace('(','').str.replace(')','').str.split(', '))

In [202]:
data['location'] = loc

In [203]:
response = data.to_json(orient='records')

In [204]:
response

'[{"num":1208575,"date_reported":"03\\/14\\/2013","date_occured":"03\\/11\\/2013","time_occured":1800,"crime_code":626,"crime_desc":"INTIMATE PARTNER - SIMPLE ASSAULT","weapon":"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)","location":["33.9829","-118.3338"]},{"num":102005556,"date_reported":"01\\/25\\/2010","date_occured":"01\\/22\\/2010","time_occured":2300,"crime_code":510,"crime_desc":"VEHICLE - STOLEN","weapon":null,"location":["34.0454","-118.3157"]},{"num":418,"date_reported":"03\\/19\\/2013","date_occured":"03\\/18\\/2013","time_occured":2030,"crime_code":510,"crime_desc":"VEHICLE - STOLEN","weapon":null,"location":["33.942","-118.2717"]},{"num":101822289,"date_reported":"11\\/11\\/2010","date_occured":"11\\/10\\/2010","time_occured":1800,"crime_code":510,"crime_desc":"VEHICLE - STOLEN","weapon":null,"location":["33.9572","-118.2717"]},{"num":42104479,"date_reported":"01\\/11\\/2014","date_occured":"01\\/04\\/2014","time_occured":2300,"crime_code":745,"crime_desc":"VANDALISM - MISDEAMEANOR ($399 OR UNDER)","weapon":null,"location":["34.2009","-118.6369"]}]'